<div *ngIf="playing">
<h2 style="margin-left: 42%">Good luck {{name}}!</h2>
<div class="gameInfo">
    <h3>Game info</h3>
    <div class="snakeFont">
        Game status: {{gameStatus}}
    </div>
    <div>
        Timer: {{timer}}
    </div>
    <div>
        Points
    </div>
    Gameplay history:
    <div class="actionTable">
        <ul *ngFor="let action of gameHistory | filter: filteredString">
                {{action}}
        </ul>
    </div>
    <select [(ngModel)]="defaultSortValue" (ngModelChange)="sortTable($event)">
        <option *ngFor="let action of sort" [value]="action.description">
            {{action.description}}
        </option>
    </select>
    <input type="text" placeholder="Search..." [(ngModel)]="filteredString"/>


</div>
<div class="game">
    <!-- NGX Snake -->
    <ngx-snake #game></ngx-snake>
    <div style="white-space: pre-wrap;">
        <div style="margin-left: 40%">
            <button (click)="game.actionStart()" (click)="gameStatusStart()" style="font-size: 26px;">Start</button>
            <button (click)="game.actionStop()" (click)="gameStatusPaused()" style="font-size: 26px;">Stop</button>
            <button (click)="game.actionReset()" (click)="gameStatusReset()" style="font-size: 26px;">Reset</button>
        </div>
        <p></p>
        <!-- Move buttons -->
        <div style="margin-left: 15%;">
            <button (click)="game.actionUp()">Up</button>
        </div>
        <div>
            <button (click)="game.actionLeft()">Left</button>
            <button (click)="game.actionRight()" style="margin-left: 23%">Right</button>
        </div>
        <div style="margin-left: 15%">
            <button (click)="game.actionDown()">Down</button>
        </div>
        <button (click)="exitButton()">Exit Game</button>
    </div>
    
    <!-- NGX Snake -->
</div>
</div>
<div *ngIf="!playing">
    <login-form></login-form>
</div>