.game{
    margin-left: 40%;
    margin-top: -10%;
}
.gameInfo{
    border: 2px red solid;
    width: 400px;
    height: 300px;
    margin-left: 10%;
    padding-left: 5px;
}
.actionTable{
    overflow-y: scroll; 
    height: 100px; 
    display: block;
    margin-top: 5px;
    border: 2px green solid;
}