/* You can add global styles to this file, and also import other style files */

.form-control.ng-touched.ng-invalid{
    border: 2px solid red;
}
.highContrast ngx-snake ngx-snake-tile{
    background: #fff;
}
.highContrast ngx-snake ngx-snake-tile.free div{
    background: #fff;
}
.highContrast ngx-snake ngx-snake-tile.tail div{
    background: #000000;
}
.highContrast ngx-snake ngx-snake-tile.body div{
    background: #000000;
}
.highContrast ngx-snake ngx-snake-tile.head div{
    background: #000000;
}
.highContrast ngx-snake ngx-snake-tile.food div{
    background: #000000;
}